:root {
  --lightpink-color: rgb(250, 192, 197);
  --violet-color: rgb(159, 116, 199);
  --lightviolet-color: rgb(189, 137, 236);
  --darkviolet-color: rgb(123, 89, 155);
  --white-color: white;
  --grey-color: grey;
}
